src/main/resources/AdminService.svc.1.21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="AdminService" targetNamespace="http://tempuri.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsp:Policy wsu:Id="WcfAdminSoapService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="AdminSoapService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import
				schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc?xsd=xsd0"
				namespace="http://tempuri.org/" />
			<xsd:import
				schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc?xsd=xsd1"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import
				schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc?xsd=xsd2"
				namespace="http://schemas.datacontract.org/2004/07/DataObjects.Admin.Service" />
			<xsd:import
				schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc?xsd=xsd3"
				namespace="http://schemas.datacontract.org/2004/07/DataObjects.Webservice" />
			<xsd:import
				schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc?xsd=xsd4"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			<xsd:import
				schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc?xsd=xsd5"
				namespace="http://schemas.datacontract.org/2004/07/DataObjects.Webservice.DeliverOrder" />
			<xsd:import
				schemaLocation="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc?xsd=xsd6"
				namespace="http://schemas.datacontract.org/2004/07/DataObjects.Webservice.CreateOrder" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IAdminService_ChangeInvoiceDueDate_InputMessage">
		<wsdl:part name="parameters" element="tns:ChangeInvoiceDueDate" />
	</wsdl:message>
	<wsdl:message name="IAdminService_ChangeInvoiceDueDate_OutputMessage">
		<wsdl:part name="parameters" element="tns:ChangeInvoiceDueDateResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetOrders_InputMessage">
		<wsdl:part name="parameters" element="tns:GetOrders" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetOrders_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetOrdersResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_CancelOrderRows_InputMessage">
		<wsdl:part name="parameters" element="tns:CancelOrderRows" />
	</wsdl:message>
	<wsdl:message name="IAdminService_CancelOrderRows_OutputMessage">
		<wsdl:part name="parameters" element="tns:CancelOrderRowsResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_CancelOrder_InputMessage">
		<wsdl:part name="parameters" element="tns:CancelOrder" />
	</wsdl:message>
	<wsdl:message name="IAdminService_CancelOrder_OutputMessage">
		<wsdl:part name="parameters" element="tns:CancelOrderResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_DeliverPartial_InputMessage">
		<wsdl:part name="parameters" element="tns:DeliverPartial" />
	</wsdl:message>
	<wsdl:message name="IAdminService_DeliverPartial_OutputMessage">
		<wsdl:part name="parameters" element="tns:DeliverPartialResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_DeliverOrders_InputMessage">
		<wsdl:part name="parameters" element="tns:DeliverOrders" />
	</wsdl:message>
	<wsdl:message name="IAdminService_DeliverOrders_OutputMessage">
		<wsdl:part name="parameters" element="tns:DeliverOrdersResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_SearchOrders_InputMessage">
		<wsdl:part name="parameters" element="tns:SearchOrders" />
	</wsdl:message>
	<wsdl:message name="IAdminService_SearchOrders_OutputMessage">
		<wsdl:part name="parameters" element="tns:SearchOrdersResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_AddOrderRows_InputMessage">
		<wsdl:part name="parameters" element="tns:AddOrderRows" />
	</wsdl:message>
	<wsdl:message name="IAdminService_AddOrderRows_OutputMessage">
		<wsdl:part name="parameters" element="tns:AddOrderRowsResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_UpdateOrderRows_InputMessage">
		<wsdl:part name="parameters" element="tns:UpdateOrderRows" />
	</wsdl:message>
	<wsdl:message name="IAdminService_UpdateOrderRows_OutputMessage">
		<wsdl:part name="parameters" element="tns:UpdateOrderRowsResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_SearchInvoices_InputMessage">
		<wsdl:part name="parameters" element="tns:SearchInvoices" />
	</wsdl:message>
	<wsdl:message name="IAdminService_SearchInvoices_OutputMessage">
		<wsdl:part name="parameters" element="tns:SearchInvoicesResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetInvoices_InputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoices" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetInvoices_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoicesResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_CreditInvoiceRows_InputMessage">
		<wsdl:part name="parameters" element="tns:CreditInvoiceRows" />
	</wsdl:message>
	<wsdl:message name="IAdminService_CreditInvoiceRows_OutputMessage">
		<wsdl:part name="parameters" element="tns:CreditInvoiceRowsResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_SearchPaymentPlans_InputMessage">
		<wsdl:part name="parameters" element="tns:SearchPaymentPlans" />
	</wsdl:message>
	<wsdl:message name="IAdminService_SearchPaymentPlans_OutputMessage">
		<wsdl:part name="parameters" element="tns:SearchPaymentPlansResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_UpdateOrder_InputMessage">
		<wsdl:part name="parameters" element="tns:UpdateOrder" />
	</wsdl:message>
	<wsdl:message name="IAdminService_UpdateOrder_OutputMessage">
		<wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetSumOfOrderAmount_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSumOfOrderAmount" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetSumOfOrderAmount_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSumOfOrderAmountResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetSumOfInvoiceAmount_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSumOfInvoiceAmount" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetSumOfInvoiceAmount_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSumOfInvoiceAmountResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetSumOfPaymentPlanAmount_InputMessage">
		<wsdl:part name="parameters" element="tns:GetSumOfPaymentPlanAmount" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetSumOfPaymentPlanAmount_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetSumOfPaymentPlanAmountResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_ApproveInvoice_InputMessage">
		<wsdl:part name="parameters" element="tns:ApproveInvoice" />
	</wsdl:message>
	<wsdl:message name="IAdminService_ApproveInvoice_OutputMessage">
		<wsdl:part name="parameters" element="tns:ApproveInvoiceResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_CreateOrder_InputMessage">
		<wsdl:part name="parameters" element="tns:CreateOrder" />
	</wsdl:message>
	<wsdl:message name="IAdminService_CreateOrder_OutputMessage">
		<wsdl:part name="parameters" element="tns:CreateOrderResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_ReleasePendingOrder_InputMessage">
		<wsdl:part name="parameters" element="tns:ReleasePendingOrder" />
	</wsdl:message>
	<wsdl:message name="IAdminService_ReleasePendingOrder_OutputMessage">
		<wsdl:part name="parameters" element="tns:ReleasePendingOrderResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetFinancialReport_InputMessage">
		<wsdl:part name="parameters" element="tns:GetFinancialReport" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetFinancialReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetFinancialReportResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetInvoiceReport_InputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoiceReport" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetInvoiceReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoiceReportResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetAccountingReport_InputMessage">
		<wsdl:part name="parameters" element="tns:GetAccountingReport" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetAccountingReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetAccountingReportResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetRegressionReport_InputMessage">
		<wsdl:part name="parameters" element="tns:GetRegressionReport" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetRegressionReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetRegressionReportResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetPaymentPlanReport_InputMessage">
		<wsdl:part name="parameters" element="tns:GetPaymentPlanReport" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetPaymentPlanReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetPaymentPlanReportResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetInvoiceJournalReport_InputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoiceJournalReport" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetInvoiceJournalReport_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoiceJournalReportResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetInvoicePdfLink_InputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoicePdfLink" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetInvoicePdfLink_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoicePdfLinkResponse" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetOrderPdfLink_InputMessage">
		<wsdl:part name="parameters" element="tns:GetOrderPdfLink" />
	</wsdl:message>
	<wsdl:message name="IAdminService_GetOrderPdfLink_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetOrderPdfLinkResponse" />
	</wsdl:message>
	<wsdl:message
		name="IAdminService_GetInvoicesWithChangedDueDate_InputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoicesWithChangedDueDate" />
	</wsdl:message>
	<wsdl:message
		name="IAdminService_GetInvoicesWithChangedDueDate_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetInvoicesWithChangedDueDateResponse" />
	</wsdl:message>
	<wsdl:portType name="IAdminService">
		<wsdl:operation name="ChangeInvoiceDueDate">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/ChangeInvoiceDueDate"
				message="tns:IAdminService_ChangeInvoiceDueDate_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/ChangeInvoiceDueDateResponse"
				message="tns:IAdminService_ChangeInvoiceDueDate_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetOrders">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetOrders"
				message="tns:IAdminService_GetOrders_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetOrdersResponse"
				message="tns:IAdminService_GetOrders_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="CancelOrderRows">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CancelOrderRows"
				message="tns:IAdminService_CancelOrderRows_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/CancelOrderRowsResponse"
				message="tns:IAdminService_CancelOrderRows_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="CancelOrder">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CancelOrder"
				message="tns:IAdminService_CancelOrder_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CancelOrderResponse"
				message="tns:IAdminService_CancelOrder_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="DeliverPartial">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeliverPartial"
				message="tns:IAdminService_DeliverPartial_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/DeliverPartialResponse"
				message="tns:IAdminService_DeliverPartial_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="DeliverOrders">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeliverOrders"
				message="tns:IAdminService_DeliverOrders_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeliverOrdersResponse"
				message="tns:IAdminService_DeliverOrders_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="SearchOrders">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchOrders"
				message="tns:IAdminService_SearchOrders_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchOrdersResponse"
				message="tns:IAdminService_SearchOrders_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="AddOrderRows">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddOrderRows"
				message="tns:IAdminService_AddOrderRows_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddOrderRowsResponse"
				message="tns:IAdminService_AddOrderRows_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="UpdateOrderRows">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdateOrderRows"
				message="tns:IAdminService_UpdateOrderRows_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/UpdateOrderRowsResponse"
				message="tns:IAdminService_UpdateOrderRows_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="SearchInvoices">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchInvoices"
				message="tns:IAdminService_SearchInvoices_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/SearchInvoicesResponse"
				message="tns:IAdminService_SearchInvoices_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetInvoices">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetInvoices"
				message="tns:IAdminService_GetInvoices_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetInvoicesResponse"
				message="tns:IAdminService_GetInvoices_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="CreditInvoiceRows">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CreditInvoiceRows"
				message="tns:IAdminService_CreditInvoiceRows_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/CreditInvoiceRowsResponse"
				message="tns:IAdminService_CreditInvoiceRows_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="SearchPaymentPlans">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchPaymentPlans"
				message="tns:IAdminService_SearchPaymentPlans_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/SearchPaymentPlansResponse"
				message="tns:IAdminService_SearchPaymentPlans_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdateOrder"
				message="tns:IAdminService_UpdateOrder_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UpdateOrderResponse"
				message="tns:IAdminService_UpdateOrder_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetSumOfOrderAmount">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetSumOfOrderAmount"
				message="tns:IAdminService_GetSumOfOrderAmount_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetSumOfOrderAmountResponse"
				message="tns:IAdminService_GetSumOfOrderAmount_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetSumOfInvoiceAmount">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetSumOfInvoiceAmount"
				message="tns:IAdminService_GetSumOfInvoiceAmount_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetSumOfInvoiceAmountResponse"
				message="tns:IAdminService_GetSumOfInvoiceAmount_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetSumOfPaymentPlanAmount">
			<wsdl:input
				wsaw:Action="http://tempuri.org/IAdminService/GetSumOfPaymentPlanAmount"
				message="tns:IAdminService_GetSumOfPaymentPlanAmount_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetSumOfPaymentPlanAmountResponse"
				message="tns:IAdminService_GetSumOfPaymentPlanAmount_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="ApproveInvoice">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/ApproveInvoice"
				message="tns:IAdminService_ApproveInvoice_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/ApproveInvoiceResponse"
				message="tns:IAdminService_ApproveInvoice_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="CreateOrder">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CreateOrder"
				message="tns:IAdminService_CreateOrder_InputMessage" />
			<wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CreateOrderResponse"
				message="tns:IAdminService_CreateOrder_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="ReleasePendingOrder">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/ReleasePendingOrder"
				message="tns:IAdminService_ReleasePendingOrder_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/ReleasePendingOrderResponse"
				message="tns:IAdminService_ReleasePendingOrder_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetFinancialReport">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetFinancialReport"
				message="tns:IAdminService_GetFinancialReport_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetFinancialReportResponse"
				message="tns:IAdminService_GetFinancialReport_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetInvoiceReport">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetInvoiceReport"
				message="tns:IAdminService_GetInvoiceReport_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetInvoiceReportResponse"
				message="tns:IAdminService_GetInvoiceReport_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetAccountingReport">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAccountingReport"
				message="tns:IAdminService_GetAccountingReport_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetAccountingReportResponse"
				message="tns:IAdminService_GetAccountingReport_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetRegressionReport">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetRegressionReport"
				message="tns:IAdminService_GetRegressionReport_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetRegressionReportResponse"
				message="tns:IAdminService_GetRegressionReport_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetPaymentPlanReport">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPaymentPlanReport"
				message="tns:IAdminService_GetPaymentPlanReport_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetPaymentPlanReportResponse"
				message="tns:IAdminService_GetPaymentPlanReport_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetInvoiceJournalReport">
			<wsdl:input
				wsaw:Action="http://tempuri.org/IAdminService/GetInvoiceJournalReport"
				message="tns:IAdminService_GetInvoiceJournalReport_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetInvoiceJournalReportResponse"
				message="tns:IAdminService_GetInvoiceJournalReport_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetInvoicePdfLink">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetInvoicePdfLink"
				message="tns:IAdminService_GetInvoicePdfLink_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetInvoicePdfLinkResponse"
				message="tns:IAdminService_GetInvoicePdfLink_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetOrderPdfLink">
			<wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetOrderPdfLink"
				message="tns:IAdminService_GetOrderPdfLink_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetOrderPdfLinkResponse"
				message="tns:IAdminService_GetOrderPdfLink_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetInvoicesWithChangedDueDate">
			<wsdl:input
				wsaw:Action="http://tempuri.org/IAdminService/GetInvoicesWithChangedDueDate"
				message="tns:IAdminService_GetInvoicesWithChangedDueDate_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IAdminService/GetInvoicesWithChangedDueDateResponse"
				message="tns:IAdminService_GetInvoicesWithChangedDueDate_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WcfAdminSoapService" type="tns:IAdminService">
		<wsp:PolicyReference URI="#WcfAdminSoapService_policy" />
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ChangeInvoiceDueDate">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/ChangeInvoiceDueDate"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrders">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/GetOrders"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelOrderRows">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/CancelOrderRows"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelOrder">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/CancelOrder"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeliverPartial">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/DeliverPartial"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeliverOrders">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/DeliverOrders"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchOrders">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/SearchOrders"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddOrderRows">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/AddOrderRows"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrderRows">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/UpdateOrderRows"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchInvoices">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/SearchInvoices"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoices">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/GetInvoices"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreditInvoiceRows">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/CreditInvoiceRows"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchPaymentPlans">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/SearchPaymentPlans"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/UpdateOrder"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSumOfOrderAmount">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetSumOfOrderAmount"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSumOfInvoiceAmount">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetSumOfInvoiceAmount"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSumOfPaymentPlanAmount">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetSumOfPaymentPlanAmount"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ApproveInvoice">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/ApproveInvoice"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrder">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/CreateOrder"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReleasePendingOrder">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/ReleasePendingOrder"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFinancialReport">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetFinancialReport"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoiceReport">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/GetInvoiceReport"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAccountingReport">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetAccountingReport"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRegressionReport">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetRegressionReport"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPaymentPlanReport">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetPaymentPlanReport"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoiceJournalReport">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetInvoiceJournalReport"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoicePdfLink">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetInvoicePdfLink"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrderPdfLink">
			<soap12:operation soapAction="http://tempuri.org/IAdminService/GetOrderPdfLink"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoicesWithChangedDueDate">
			<soap12:operation
				soapAction="http://tempuri.org/IAdminService/GetInvoicesWithChangedDueDate"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AdminSoapService" type="tns:IAdminService">
		<wsp:PolicyReference URI="#AdminSoapService_policy" />
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ChangeInvoiceDueDate">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/ChangeInvoiceDueDate"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrders">
			<soap:operation soapAction="http://tempuri.org/IAdminService/GetOrders"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelOrderRows">
			<soap:operation soapAction="http://tempuri.org/IAdminService/CancelOrderRows"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelOrder">
			<soap:operation soapAction="http://tempuri.org/IAdminService/CancelOrder"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeliverPartial">
			<soap:operation soapAction="http://tempuri.org/IAdminService/DeliverPartial"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeliverOrders">
			<soap:operation soapAction="http://tempuri.org/IAdminService/DeliverOrders"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchOrders">
			<soap:operation soapAction="http://tempuri.org/IAdminService/SearchOrders"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddOrderRows">
			<soap:operation soapAction="http://tempuri.org/IAdminService/AddOrderRows"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrderRows">
			<soap:operation soapAction="http://tempuri.org/IAdminService/UpdateOrderRows"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchInvoices">
			<soap:operation soapAction="http://tempuri.org/IAdminService/SearchInvoices"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoices">
			<soap:operation soapAction="http://tempuri.org/IAdminService/GetInvoices"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreditInvoiceRows">
			<soap:operation soapAction="http://tempuri.org/IAdminService/CreditInvoiceRows"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SearchPaymentPlans">
			<soap:operation soapAction="http://tempuri.org/IAdminService/SearchPaymentPlans"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateOrder">
			<soap:operation soapAction="http://tempuri.org/IAdminService/UpdateOrder"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSumOfOrderAmount">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/GetSumOfOrderAmount"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSumOfInvoiceAmount">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/GetSumOfInvoiceAmount"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSumOfPaymentPlanAmount">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/GetSumOfPaymentPlanAmount"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ApproveInvoice">
			<soap:operation soapAction="http://tempuri.org/IAdminService/ApproveInvoice"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateOrder">
			<soap:operation soapAction="http://tempuri.org/IAdminService/CreateOrder"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReleasePendingOrder">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/ReleasePendingOrder"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFinancialReport">
			<soap:operation soapAction="http://tempuri.org/IAdminService/GetFinancialReport"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoiceReport">
			<soap:operation soapAction="http://tempuri.org/IAdminService/GetInvoiceReport"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAccountingReport">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/GetAccountingReport"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRegressionReport">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/GetRegressionReport"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPaymentPlanReport">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/GetPaymentPlanReport"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoiceJournalReport">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/GetInvoiceJournalReport"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoicePdfLink">
			<soap:operation soapAction="http://tempuri.org/IAdminService/GetInvoicePdfLink"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOrderPdfLink">
			<soap:operation soapAction="http://tempuri.org/IAdminService/GetOrderPdfLink"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInvoicesWithChangedDueDate">
			<soap:operation
				soapAction="http://tempuri.org/IAdminService/GetInvoicesWithChangedDueDate"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AdminService">
		<wsdl:port name="WcfAdminSoapService" binding="tns:WcfAdminSoapService">
			<soap12:address
				location="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc/secure" />
			<wsa10:EndpointReference>
				<wsa10:Address>https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc/secure
				</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
		<wsdl:port name="AdminSoapService" binding="tns:AdminSoapService">
			<soap:address
				location="https://partnerweb.sveaekonomi.se/WebPayAdminService/AdminService.svc/backward" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>